[submodule "start/nvim-lspconfig"]
	path = start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "start/mason.nvim"]
	path = start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "start/mason-lspconfig.nvim"]
	path = start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "start/vim-cmake"]
	path = start/vim-cmake
	url = https://github.com/cdelledonne/vim-cmake
[submodule "start/coq_nvim"]
	path = start/coq_nvim
	url = https://github.com/ms-jpq/coq_nvim
[submodule "start/vim-fugitive"]
	path = start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "start/sleuth"]
	path = start/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule "start/marks.nvim"]
	path = start/marks.nvim
	url = https://github.com/chentoast/marks.nvim
[submodule "start/lualine.nvim"]
	path = start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
